.select-lines {
  display: block;
  text-align: center;
  margin: 10px auto;
  font-size: 14px;
  font-weight: bold;
}

.box {
  width: 375px;
  margin: 0 auto;
  border: 1px solid blue;
  padding: 6px;
  font-size: 14px;
}

.ellipsis-demo {
  background-color: aliceblue;
}

@mixin action {
  font-weight: bolder;
  border-radius: 2px;
}

.my-more-action {
  @include action;
}

.my-less-action {
  @include action;
}
