.select-cantainer {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #eee;
  
  .select {
    display: inline-flex;
    justify-content: center;
    padding: 4px 10px;
    margin-left: 10px;
    border-radius: 4px;
    font-weight: bold;
    font-family: fantasy;
  }
}

.box {
  width: 375px;
  margin: 0 auto;
  border: 1px solid blue;
  padding: 6px;
  font-size: 14px;
  .ellipsis-demo {
    background-color: aliceblue;
  }
}

@mixin action {
  font-weight: bolder;
  border-radius: 2px;
}

.my-more-action {
  @include action;
}

.my-less-action {
  @include action;
}
