.ellipsis-box {
  position: relative;
  transition: all ease 0.1s;
  background: aliceblue;
  .show-more {
    display: inline-block;
    cursor: pointer;
  }
  .show-less {
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}
